.center {
    text-align: center;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(17, 40px);
    grid-template-rows: repeat(17, 40px);
    gap: 2px;
    margin: 50px auto;
    justify-content: center;
}

.wrapper .cell {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.odd-row, .odd-col {
    background-color: #ffffff;
}

.top-row, .bot-row {
    background-color: #252525;
}


.playerA {
    background-color: #0048ff;
}

.playerB {
    background-color: #ff0000;
}

.possible-move {
    background-color: #696969;
}

.wall {
    background-color: #ffc500;
}





