.center {
    text-align: center;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 70px);
    grid-template-rows: repeat(9, 70px);
    gap: 2px;
    margin: 50px auto;
    justify-content: center;
}

.wrapper div {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}



.playerA {
    background-color: #0048ff;
}

.playerB {
    background-color: #ff0000;
}

.possible-move {
    background-color: #00ff00;
}




